<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs')%>
<div class="container">
    <form action="/new-password" method="POST" autocomplete="off">
        <% if (errorMessage) { %>
  <div class="alert alert-danger text-center" style="width: 50%; margin: auto;">
    <strong> <%= errorMessage %></strong>
  </div>
  <div><br /></div>
  <% } %>
        <div class="row justify-content-center align-items-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" />
                        </div>
                        <input type="hidden" name="userId" value="<%= userId %>" />
                        <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button type="submit" id="sendlogin" class="btn btn-success">
                            Update Password
                        </button>
    </form>
</div>
<%- include('../includes/end.ejs') %>