<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (prods.length > 0) { %>
        <div class="container">
            <div class="row">
                <% for (let product of prods) { %>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="<%= product.imageUrl %>" alt="<%= product.title %>" />
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= product.title %>
                            </h5>
                            <p class="card-text">
                                <%= product.description %>
                            </p>
                            <form action="/admin/edit-product" method="POST">
                                <a class="btn btn-primary" value="/admin/edit-product" href="/admin/edit-product/<%= product.id %>?edit=true" role="button">Edit</a>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                    <br /><br /><br />
                </div>
                <% } %>
                <% } else { %>
                <h1>No Products Found!</h1>
                <% } %>
            </div>
        </div>
    </main>
</body>
<%- include('../includes/end.ejs') %>