<div>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container">
      <a class="navbar-brand" href="/">🛍️ Shop Express</a
      ><button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navcol-1"
      >
        <span class="sr-only">Toggle navigation</span
        ><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item" role="presentation">
            <a class="nav-link <%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
          </li>
          <% if (isAuthenticated) { %>
          <li class="nav-item" role="presentation">
            <a class="nav-link <%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link <%= path === '/orders' ? 'active' : '' %>" href="/orders"">Orders</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link <%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link <%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products</a>
          </li>
          <% } %>
        </ul>
        <% if (!isAuthenticated) { %>
          <span class="navbar-text actions">
          <a class="login <%= path === '/login' ? 'active' : '' %>" href="/login" >Log In</a>
          <a class="btn btn-light action-button <%= path === '/signup' ? 'active' : '' %>" href="/signup" >Sign Up</a>
          <% } else { %>
            </span>
          <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input class="btn btn-light" type="submit" value="Log Out">
          </form>
        <% } %>
        </div>
      </div>
    </div>
  </nav>
</div>
<br /><br />

