<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (prods.length > 0) { %>
    <div class="container">
      <div class="row">
        <% for (let product of prods) { %>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img
              class="card-img-top"
              src="<%= product.imageUrl %>"
              alt="<%= product.title %>"
            />
            <div class="card-body">
              <h5 class="card-title"><%= product.title %></h5>
              <p class="card-text"><%= product.description %></p>
              <div class="form-group">
                <form action="/cart" method="post" role="form">
                  <button type="submit" value="/cart" class="btn btn-primary">
                    Add to Cart
                  </button>
                  <a href="/products/<%= product._id %>" class="btn btn-primary"
                    >Details</a
                  >
                  <input
                    type="hidden"
                    name="productId"
                    value="<%= product.id %>"
                  />
                </form>

                <!-- <%- include('../includes/add-to-cart', {product: product}) %> -->
              </div>
            </div>
          </div>
          <br /><br /><br />
        </div>
        <% } %> <% } else { %>
        <h1>No Products Found!</h1>
        <% } %>
      </div>
    </div>
    <br />
  </main>
</body>

<%- include('../includes/end.ejs') %>
