<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/navigation.ejs') %>
<body>
    <div class="container">
    <div class="card w-75 p-23">
        <img src="/<%= product.imageUrl %>" alt="<%= product.title %>"" class="w-100 p-3">
        <div class="card-body">
            <h5 class="card-title"><%= product.title %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text">$ <%= product.price %></p>
            <% if (isAuthenticated) { %>
            <%- include('../includes/add-to-cart', {product: product}) %>
            <% } %>
    </div>
    </div>
    <%- include('../includes/end.ejs') %>